body {
  color: purple;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  color: teal;
  background-color: white;
  border-bottom: solid teal 2px;
}

.logo {
  width: 20%;
  margin-left: 1vw;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65%;
}

.left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left ul li {
  list-style-type: none;
  font-size: 16px;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35%;
  padding: 1vw;
  margin-top: 2vw;
}

.right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right ul li {
  list-style-type: none;
}

.right ul li button {
  outline: none;
  border: none;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5vw;
}

.right ul li a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: teal;
  font-size: 1.5vw;
  margin-left: 2vw;
}

.listLeft, .listRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navLink {
  color: teal;
  margin: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 30px;
}

.navLink:hover {
  color: gray;
}

.active {
  color: gray;
}

.btnsRight {
  color: teal;
}

.menuBtn {
  display: none;
}

@media screen and (max-width: 800px) {
  .right ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (max-width: 650px) {
  .menuBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 300%;
    margin-right: 20%;
    background: none;
    border: none;
    outline: none;
    color: teal;
    z-index: 20;
  }
  .listLeft, .listRight {
    display: none;
  }
  .logo {
    width: 50%;
    margin-right: 20%;
    z-index: 20;
  }
  #hidden {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    margin: 15% 0;
    z-index: 10;
  }
  .left ul li {
    font-size: 25px;
  }
}
/*# sourceMappingURL=main.css.map */