$primary-color: rgb(0, 155, 150);
$secondary-color: rgb(150, 150, 150);
$box_shadow_first: rgba(0, 0, 0, 0.35) 0px 5px 15px;

@mixin breakpoint($class) {  
    @if $class == xs {    
      @media (max-width: 767px) { @content; }  }   
    @else if $class == sm {    
      @media (min-width: 768px) { @content; }  }   
    @else if $class == md {    
      @media (min-width: 992px) { @content; }  }   
    @else if $class == lg {    
      @media (min-width: 1200px) { @content; }  }   
    @else {    
      @warn "Breakpoint mixin supports: xs, sm, md, lg";  
    }
  }