.search_results {
    margin: 5vh auto;
}

.result_card {
    display: flex;
    flex-wrap:wrap;
    max-width: 100vw;
    justify-content: center;
    gap: 5vw;
    h2 {
        color: rgb(0, 155, 150);
        margin: 0 auto;
    }
    div {
        button {
            width: 160px;
        height: 65px;
        background-color: rgb(1, 117, 113);
        margin: 0 auto;
        color: antiquewhite;
        font-size: 1.5rem;
        }
    }

    article {
        padding: 2vw;
        box-shadow: $box_shadow_first;
        min-width: 200px;
    }

    

    h3 {
        width: 20vw;
        text-align: center;
        height: 8vh;
        color:$primary-color;
        margin-top:0;
    }

    button {
        display: block;
        margin: 0 auto;
        border: none;
        

        img {
            width: 10vw;
            height: 30vh;
            object-fit: cover;
            padding:0;
            margin:0 auto;
            min-width:100px;
            box-shadow: $box_shadow_first;
        }
        
    }
    
}
.div-genreFilterBtn{
    width: 90%;
    margin: 250px auto;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    flex-wrap: wrap;
    button{
        width: 160px;
        height: 65px;
        background-color: rgb(1, 117, 113);
        margin: 0 auto;
        color: antiquewhite;
        font-size: 1.5rem;
    }
    

}
.genreFilterBtn {
    width: 160px;
        height: 55px;
        background-color: rgb(1, 117, 113);
        margin: 0 auto;
        color: antiquewhite;
        font-size: 1.2rem;
        border-radius: 10px;
}
.inputDiv {
    width: 90%;
    margin: -200px auto;
    text-align: center;
    .genreFilterBtn{
        width: 160px;
        height: 55px;
        background-color: rgb(1, 117, 113);
        margin: 0 auto;
        color: antiquewhite;
        font-size: 1.5rem;
        border-radius: 10px;
    }
    input{
        height: 55px;
        // display: inline;
        width: 600px;
        margin: 0 auto;
        border: 5px solid rgb(1, 117, 113);
        border-radius: 10px;
        font-size: 1.5rem;
    }
}
.previousBtn{
    width: 160px;
    height: 55px;
    background-color: rgb(1, 117, 113);
    margin: 0 auto;
    color: antiquewhite;
    font-size: 1.5rem;
    border-radius: 10px;
}
.nextBtn{
    width: 160px;
    height: 55px;
    background-color: rgb(1, 117, 113);
    margin: 0 auto;
    color: antiquewhite;
    font-size: 1.5rem;
    border-radius: 10px;
}
.previousBtn:disabled {
    background-color: rgba(0, 56, 53, 0.397);
}

