.ebooksLuisterBoeken {
  margin: 20% auto 30% auto;
  width: 100vw;
  height: 160vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.textEBooks {
  margin: 0 20%;
  text-align: center;
  overflow-x: hidden;
  .imgEBooks {
    width: 40vw;
    margin-bottom: 5%;
    border-radius: 5px;
  }
  h1 {
    margin-bottom: 5%;
  }
  h2 {
    margin-bottom: 3%;
  }
  p {
    margin-bottom: 3%;
  }
  a {
    text-decoration: underline $primary-color;
    color: teal;
  }
  a:hover {
    text-decoration: underline $primary-color dashed;
  }
}

.instructionsEBooks {
  width: 85vw;
  margin: 0 auto;
  margin-bottom: 90px;
  
  ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    height: 40vh;
    li {
      width: 300px;
      height: 100%;
      margin: 2%;
      border: solid $primary-color 2px;
      box-shadow: $box_shadow_first;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      padding: 3%;
    }
  }
}
@media screen and (max-width: 900px) {
  .textRBooks .imgEBooks {
    width: 50vw;
  }
}

@media screen and (max-width: 800px) {
  .ebooksLuisterBoeken {
    margin-top: 30%;
  }
}

@media screen and (max-width: 650px) {
  .ebooksLuisterBoeken {
    margin-top: 40%;
  }
}

@media screen and (max-width: 450px) {
  .textEBooks {
    margin: 2%;
  }
  .textEBooks .imgEBooks {
    width: 90vw;
  }
}
