.home {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10vw;
   
}

.hTwoHome {
    margin-bottom: 0;
<<<<<<< HEAD
    margin-left: 15%;
    color: teal;
=======
    margin-left: 12vw;
    color: $primary-color;
>>>>>>> 927fa4f7792a06c87209505335d4a0e57426217f
    display: flex;
    align-items: center;
}