.Home {
  margin-top: 17vw;
  display: flex;
  flex-direction: column;
}

.hTwoHome {
  margin-bottom: 0;
  margin-left: 12vw; //15%
  color: $primary-color;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 850px) {
  .Home {
    margin-top: 25vw;
  }
  .event {
      margin-top: 60vw;
  }
}

@media screen and (max-width: 650px) {
  .Home {
    margin-top: 40vw;
  }
  .event {
    margin-top: 70vw;
  }
}

@media screen and (max-width: 500px) {
  .event {
    margin-top: 100vw;
  }
}

@media screen and (max-width: 360px) {
  .event {
    margin-top: 125vw;
  }
}

