.home {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10vw;
}

.hTwoHome {
  margin-bottom: 0;
  margin-left: 12vw; //15%
  color: $primary-color;
  display: flex;
  align-items: center;
}
