.passendLezen {
  margin: 20% auto 30% auto;
  width: 100vw;
  height: 160vh;
}

.textPassend {
  margin: 0 20%;
  text-align: center;
  overflow-x: hidden;
  .imgPassend {
    width: 40vw;
    margin-bottom: 5%;
    border-radius: 5px;
  }
  h1 {
    margin-bottom: 5%;
  }
  h2 {
    margin-bottom: 3%;
  }
  p {
    margin-bottom: 3%;
  }
  a {
    text-decoration: underline $primary-color;
    color: $primary-color;
  }
  a:hover {
    text-decoration: underline $primary-color dashed;
  }
}

@media screen and (max-width: 900px) {
  .textPassend .imgPassend {
    width: 50vw;
  }
}

@media screen and (max-width: 800px) {
  .passendLezen {
    margin-top: 30%;
}
}

@media screen and (max-width: 650px) {
  .passendLezen {
    margin-top: 40%;
  }
}

@media screen and (max-width: 450px) {
    .textPassend {
        margin: 10%;
    }
  .textPassend .imgPassend {
    width: 90vw;
  }
}
