.passendlezen {
    margin: 0 auto 20% auto;
    width: 100vw;
    height: 120vh;
}

.text {
    margin: 0 auto 20% auto;
    text-align: center;
    padding: 0 10%;
    img {
        width: 40%;
        margin-bottom: 5%;
    }
    h1 {
        margin-bottom: 5%;
    }
    h2 {
        margin-bottom: 3%;
    }
    p {
        margin-bottom: 3%;
    }
    a {
        text-decoration: underline teal;
    }
    a:hover {
        text-decoration: underline teal dashed;
    }
}
