.passendLezen {
    margin: 20% auto 20% auto;
    width: 100vw;
    height: 120vh;
}

.textPassend {
    margin: 20% auto 20% auto;
    text-align: center;
    padding: 0 10%;
    .imgPassend {
        width: 40vw;
        margin-bottom: 5%;
    }
    h1 {
        margin-bottom: 5%;
    }
    h2 {
        margin-bottom: 3%;
    }
    p {
        margin-bottom: 3%;
    }
    a {
        text-decoration: underline $primary-color;
    }
    a:hover {
        text-decoration: underline $primary-color dashed;
    }
}

@media screen and (max-width: 900px) {
    .textPassend .imgPassend {
        width: 50vw;
    }
}

@media screen and (max-width: 800px) {
    .passendLezen {
        margin-top: 20%;
    }
}

@media screen and (max-width: 650px) {
    .passendLezen {
        margin-top: 60%;
    }
}

@media screen and (max-width: 450px) {
    .textPassend .imgPassend {
        width: 90vw;
    }
}