.modal_image_act {
    height: 12vw !important;
    width: 15vw !important;
    margin-top: 10vh !important;
}

.activity_modal {
    width: 47vw !important;
}

h4, h5 {
    line-height: 1.2;
}

.register {
    font-weight: bold;
}

.register_button {
    background-color: $primary-color;
    color: white;
    font-size: large;
    border-radius: 5px;
    padding: 0.5vw 2vw;
    outline: none;
    border: none;
    text-align: center;
    margin: 0.5vw 15vw;
    font-weight: bold;
}

.italics {
    font-style: italic;
}

@include breakpoint(xs) {
    .modal_image_act {
        margin-top: -1vh !important;
        margin-left: 6vw;
        height: 30vw !important;
        width: 50vw !important;
        margin-bottom: 1vh;
    }

    .register_button {
        font-size: 2vh;
        margin-left: 18vw;
    }
}
