.slider {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderImage {
    width: 15vw;
    height: 50vh;
    margin-left: 20vw;
    margin-right: 20vw;
    border: solid 4px teal;
    padding: 20px;
    background-clip: content-box; 
    background-color: white;
}



.arrowBtnLeft {
    position: absolute;
    top: 30%;
    left: 5px;
    color: teal;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    border: none;
    background: transparent;
}

.arrowBtnRight {
    position: absolute;
    top: 30%;
    right: 5px;
    color: teal;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    border: none;
    background: transparent;
}


  
