.containerTips {
    position: relative;
    height: 70vh;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    border: solid turquoise 1px;
}

.wrapperImagesTips {
    position: relative;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    height: 100%;
    width: 100%;
}

.imageTips {
    width: 22vw;
    height: 50vh;
    padding: 0;
}

.overlayTipsOne, .overlayTipsTwo, .overlayTipsThree {
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 155, 150, 0.5);
    color: white;
    width: 29.6%;
    height: 30%;
    top: 55%;
}

.overlayTipsOne {
    left: 2.8%;
}

.overlayTipsTwo {
    left: 35.2%;
}

.overlayTipsThree {
    left: 67.6%;
}

@media screen and (max-width: 768px) {

}





