.containerTips {
    position: relative;
    height: 70vh;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}

.wrapperImagesTips {
    position: relative;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    height: 100%;
    width: 100%;
}

.imageTips {
    width: 22vw;     
    height: 50vh;
    padding: 0;
}

.overlayTipsOne, .overlayTipsTwo, .overlayTipsThree {
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 155, 150, 0.5);
    color: white;
    width: 29.6%;
    height: 30%;
    top: 55.5%;
}

.overlayTipsOne {
    left: 2.8%;
}

.overlayTipsTwo {
    left: 35.2%;
}

.overlayTipsThree {
    left: 67.6%;
}

.overlayTipsOne:hover, .overlayTipsTwo:hover, .overlayTipsThree:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1200px) {
    .imageTips {
        height: 40vh;
    }
    .overlayTipsOne, .overlayTipsTwo, .overlayTipsThree {
        top: 48.5%;
    }
} 

@media screen and (max-width: 850px ) {
    .wrapperImagesTips {
        flex-direction: column;
        margin-top: 60vw;
    }
    .imageTips {
        width: 50vw;
        padding-bottom: 5%;
    }
    .overlayTipsOne {
        width: 67%;
        top: -13.5%;
        left: 16.5%;
       }
    .overlayTipsTwo {
        width: 67%;
        top: 44.5%;
        left: 16.5%;
    }
    .overlayTipsThree {
        width: 67%;
        top: 102%;
        left: 16.5%;
    }
}

@media screen and (max-width: 650px) {
    .wrapperImagesTips {
        margin-top: 75vw;
    }
    .imageTips {
        width: 60vw;
    }
    .overlayTipsOne, .overlayTipsTwo, .overlayTipsThree {
        width: 80%;
        left: 10%;
    }
}

@media screen  and (max-width: 500px) {
    .overlayTipsOne {
        top: -12%;
    }
    .overlayTipsTwo {
        top: 45.5%;
    }
    .overlayTipsThree {
        top: 103%;
    }
    .wrapperImagesTips {
        margin-top: 100vw;
    }
}

@media screen and (max-width: 360px) {
    
    .wrapperImagesTips {
        margin-top: 125vw;
    }.imageTips {
        width: 100%;
    }
    .overlayTipsOne, .overlayTipsTwo, .overlayTipsThree {
        width: 100%;
        left: 0;
    }
    .overlayTipsOne {
        top: -11%
    }
    .overlayTipsTwo {
        top: 46.5%;  
     }
     .overlayTipsThree {
         top: 104%;
     }
}